<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog World</title>
    <link rel="stylesheet" href="./css/style.css" th:href="@{/css/style.css}" type="text/css"/>
    <link rel="stylesheet" href="./css/layout.css" th:href="@{/css/layout.css}" type="text/css"/>
</head>

<body>
<div class="wrapper">
    <section class="banner">
        <section class="title">
            <h1>Blog World</h1>
            <h3 th:text="${blog.blogTitle}"></h3>
        </section>
    </section>
    <section class="content">
        <p class="blog_title" th:text="${blog.blogTitle}"></p>
        <p th:text="'By '+${blog.blogAuthor}"></p>
        <p th:text="${blog.blogText}"></p>
        <ul>
            <li th:each="tag:${blog.tags}" th:text="${tag.name}"></li>
        </ul>
    </section>
    <section class="footer">
        <form th:action="'/blog/'+${blog.id}+'/add-tag'" method="post">
            <input type="text" name="name" required />
            <button type="submit">Add Tag</button>
        </form>
    </section>
</div>
</body>

</html>