<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog World</title>
    <link rel="stylesheet" href="./css/style.css" th:href="@{/css/style.css}" type="text/css"/>
    <link rel="stylesheet" href="./css/layout.css" th:href="@{/css/layout.css}" type="text/css"/>
</head>

<body>
<div class="wrapper">
    <section class="banner">
        <section class="title">
            <h1>Blog World</h1>
            <h3>Categories</h3>
        </section>
    </section>
    <section class="content">
        <ul class="link_list">
            <li class="link_list__links" th:each="categories:${categories}">
                <a class="single_link" th:href="@{'/categories/'+ ${categories.categoryName}}" th:text="${categories.categoryName}"></a>
            </li>
        </ul>
    </section>
    <section class="footer">
        <form action="add-category" method="POST">
            <input name="categoryName" type="text">
            <button type="submit">Add Category</button>
        </form>
    </section>
</div>
</body>

</html>