<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog World</title>
    <link rel="stylesheet" href="./css/style.css" th:href="@{/css/style.css}" type="text/css"/>
    <link rel="stylesheet" href="./css/layout.css" th:href="@{/css/layout.css}" type="text/css"/>
</head>

<body>
<div class="wrapper">
    <section class="banner">
        <section class="title">
            <h1>Blog World</h1>
            <h3 th:text="${category.categoryName}"></h3>
        </section>
    </section>
    <section class="content">
        <ul class="link_list">
            <li class="link_list__links" th:each="blog:${category.getBlogs()}">
                <a class="single_link" th:href="@{'/blog/'+${blog.getId()}}" th:text="${blog.getBlogTitle()}"></a>
            </li>
        </ul>
    </section>
</div>
</body>

</html>